<br>
<div>
    <table>
        <tr>
            <td>
                Club name:
            </td>
            <td>
                Country:
            </td>     
            <td>
                Image:
            </td>     
        </tr>        
        <tr *ngFor="let club of clubs" >
            <td>
                {{club.name}}
            </td>     
            <td>
                {{club.country}}
            </td>  
            <td>
                <img src="{{club.imagePath}}"/>
            </td>           
            <th>
            <button (click)="deleteClub(club.clubId)" class="delete">Delete</button>
          <button (click)="updateClub(club.clubId)" class="edit" >Edit</button>
        </tr>
    </table>
</div>
<br>
<button (click)="addClub()" class="addClub">Add club</button>
