* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  div {    
    background-color: rgb(3, 164, 212);
    height: 200px;
    width: 200px;
    display: inline-block;    
    margin-left: 5px;
    margin-bottom: 5px;
    top: 100px;  
  }  
  p {
    position: relative;
    text-align: center;
    top: 30px;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    width: 90%;
    font-weight: bold;
    text-transform: uppercase;  
  }  
  img {
    position: relative;
    height: 50px;
    width: 50px;
    left: calc(30%);
    top: 100px;
  }
  .addClub {
    position:center;
    background-color: rgb(106, 70, 236);
    color: rgb(233, 224, 224,24);
    font-weight: bold;
    width: 200px;
    height: 40px;
    top: 190px;
    border-radius: 20px;
    text-align: center;
    left: calc(50% - 200px);
    cursor: pointer
  }
  .delete {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: red;
    cursor: pointer;
    top: 30px;
    left: 30%;
    font-weight: bold;
  }
  .edit {  
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: green;
    cursor: pointer;
    top: 30px;
    left: -30%;
    font-weight: bold;
    
  }
  .edit:hover{
    background-color: darkgreen;
  }
  .delete:hover{
    background-color: darkred;
  }
  .hover:hover{
    background-color: rgb(165, 164, 164);
}
  