<br>
<label for = "">
    Name   
</label>
<input type="text" name="Name" [(ngModel)]="Name" placeholder="Name: ">
<label for = "">
    Country   
</label>
<input type="text" name="Country" [(ngModel)]="Country" placeholder="Country: ">
<select name="ImagePath" [(ngModel)]="ImagePath" placeholder="Image:">
    <option value = "club1">  
        Atletico crest     
    </option>
<option value = "club2">
    
    Manchester City crest  
</option>
<option value = "club3">
    BVB crest  
</option>
<option value = "club4">
    AC Milan crest   
</option>
</select>
<button (click)=login()>
    Add club
</button>
